.nav {
    list-style: none;
    position: absolute;
    top: 10px;
}

nav li {
    width: 140px;
    text-align: center;
    background-color: #333;
    height: 50px;
    line-height: 50px;
    margin-right: 310px;
}

.logout {
    list-style: none;
    position: absolute;
    left: 400px;
    top: 10px;
}

.logout li {
    width: 180px;
    line-height: 180px;
    text-align: center;
    background-color: #ff0000;
}

.top {
    width: 100%;
}

.po {
    position: relative;
    display: block;
    height: 250px;
    width:800px;
    background-color: #a9a9a9;
    border: solid;
}

ul{
list-style:none;
}



.e{
    background-color: orange;
    border:solid 1px;
    width: 230px;
    line-height: 100px;
    text-align: center;
    width: calc((450px - 40px) / 2);
    margin:10px;
}



.comyuicon{
background-color:white;
width:300px;
height:250px;
margin-top:20px;
border :solid 1px;
}


.kn{
    background-color: grey;
    border:solid 1px;
    width:230px;
    line-height: 100px;
    text-align: center;
    width: calc((900px - 40px) / 2);
    margin:10px;
}


.flex{
    display: flex;
}

.bar{
    background-color:grey;
    padding-bottom:20px;
    width:1200px;
    margin-top:10px;
}


.gr{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top:80px;
}


.sanka{
background-color:#00008b;
width:300px;
height:60px;
margin-left:450px;
margin-top:-110px;
text-align:center;
line-height:70px;
}



.pobutton{
    position:relative;
}



.yellow{
    background-color:yellow;
    width:50%;

}


.gr2{
    display: flex;
    gap:80px;
    margin-top: 30px;
}

.gr2>div{
 width:500px;
}

table.sinsei{
  border-collapse:collapse;
}
 
table.sinsei th{
  border:1px solid #000066;



