@charset "utf-8";
.nav {
    list-style: none;
    position: absolute;
    top: 10px;
}

nav li {
    width: 140px;
    text-align: center;
    background-color: #333;
    height: 50px;
    line-height: 50px;
    margin-right: 310px;
}

.logout {
    list-style: none;
    position: absolute;
    left: 400px;
    top: 10px;
}

.logout li {
    width: 180px;
    line-height: 180px;
    text-align: center;
    background-color: #ff0000;
}

.top {
    width: 100%;
}

.po {
    position: relative;
    display: block;
    height: 250px;
    width:800px;
    background-color: #a9a9a9;
    border: solid;
}

ul{
list-style:none;
}



.profile {
  width: 30%;
}

#img {
  width: 300px;
  margin-top: 40px;
}


.myp {
  width: 160px;
}

.komyuran {
  width: 85%;
}

.event {
  width: 85%;
}

.event2 {
  width: 85%;
}

.topic {
  border: solid 1px;
  position: relative;
  background-color: #fffacd;
  width: 700px;
  height: 400px;
  left: 400px;
  top: -180px;
}

.icon {
  border: solid 1px;
  position: absolute;
  top: 40px;
  left: 50px;
  background-color: white;
  width: 250px;
  height: 150px;
}

.time {
  border: solid 1px;
  position: absolute;
  background-color: #ffa500;
  height: 150px;
  width: 250px;
  top: 225px;
  left: 50px;
}

.honbun {
  border: solid 1px;
  position: absolute;
  background-color: white;
  height: 350px;
  width: 300px;
  top: 30px;
  left: 350px;
}

.title {
  background-color: #d3d3d3;
  width: 300px;
  height: 100px;
  border-bottom: solid 1px;
}

.event {
  background-color: grey;
  width: 300px;
  height: 23px;
  border: solid 1px;
}

.list {
  border: solid 1px;
  height: 100px;
}

.sagasu {
  background-color: #ffa500;
  height: 43px;
  width: 297px;
  text-align: center;
}


.bar{
    background-color:grey;
    padding-bottom:20px;
    width:1200px;
    margin-top:10px;
}


.gr{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top:80px;
}

.flex{
    display: flex;
}

.e{
    background-color: orange;
    border:solid 1px;
    width: 230px;
    line-height: 100px;
    text-align: center;
    width: calc((450px - 40px) / 2);
    margin:10px;
}

.kn{
    background-color: grey;
    border:solid 1px;
    width:230px;
    line-height: 100px;
    text-align: center;
    width: calc((900px - 40px) / 2);
    margin:10px;
}

.yellow{
  background-color: yellow;
}