

.nav {
    list-style: none;
    position: absolute;
    top: 10px;
}

nav li {
    width: 140px;
    text-align: center;
    background-color: #333;
    height: 50px;
    line-height: 50px;
    margin-right: 310px;
}

.logout {
    list-style: none;
    position: absolute;
    left: 400px;
    top: 10px;
}

.logout li {
    width: 180px;
    line-height: 180px;
    text-align: center;
    background-color: #ff0000;
}

.top {
    width: 100%;
}

.po {
    position: relative;
    display: block;
    width:900px;
    height: 250px;
    background-color: #a9a9a9;
    border: solid;
}

ul{
list-style:none;
}


.bar{
    background-color:grey;
    padding-bottom:20px;
    width:900px;
}

.gr{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.yellow{
    background-color:yellow;
    width:50%;
}


