ul{
  list-style-type: none
}

.login{
  font-size:30px;
}

.controler
{position: relative;
 }

.conts{
  width:120%;
  margin-top:120px;
}


.po{
  position:absolute;
 left:50%;
 transform:translatex(-50%);
  top:400px;
  color:white;
  font-size:22px;
}

.po2{
 position:absolute;
 left:50%;
 transform:translatex(-50%);
  top:450px;
  color:white;
  font-size:25px;
}

.nav {
  list-style: none;
  display: flex;
  gap:100px;
  
}

.top{
  width:150px;
 
}

.logingazou{
  width:150px;
}


nav li {
  width: 150px;
  text-align: center;
  background-color: #333;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

.new{
  width:60%;
}
  
.login{
  width:50%;
  position:relative;
}


.new2{
  font-size:23px;
  position:absolute;
  top:45px;
  left:400px;
  width:100%;
}

.login2{
  font-size:23px;
  position:absolute;
  top:470px;
  left:400px;
  width:100%;
}

.sarchgazou{
  width:60%;
}

.sarch2{
  font-size:23px;
  position:absolute;
  top:800px;
  left:400px;
  width:100%;
}

.explain{
  font-size:15px;
}