@charset "utf-8";
.nav {
  list-style: none;
  position: absolute;
  top: 10px;
}

nav li {
  width: 140px;
  text-align: center;
  background-color: #333;
  height: 50px;
  line-height: 50px;
  margin-right: 310px;
}

.logout {
  list-style: none;
  position: absolute;
  left: 400px;
  top: 10px;
}

.logout li {
  width: 180px;
  line-height: 180px;
  text-align: center;
  background-color: #ff0000;
}

.top {
  width: 100%;
}

.po {
  position: relative;
  display: block;
  height: 250px;
  background-color: #a9a9a9;
  border: solid;
}

.plofile {
  background-color: white;
  height: 200px;
  width: 300px;
  margin-top: 90px;
  margin-left: 20px;
  border: solid 1px;
}

.friend {
  background-color: orange;
  border: solid 1px black;
  width: 231px;
  margin-top: 60px;
  margin-bottom: 15px;
  margin-left: 29px;
  text-align: center;
}

ul {
  list-style: none;
}

.photogr>div {
  position: relative;
  margin-bottom: 50px
}

.photogr {
  width: 600px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 13% 13% 13%;
}

.photoA img {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 38px;
  top: 18px;
  border: solid 1px black;
  background-color: #fafad2;
  padding: 11%;
  transform: translate(-50%, -50%)
}

.photogr2>div {
  position: relative;
  margin-bottom: 60px;
}

.photogr2 {
  width: 600px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 13% 13% 13%;
}

.photoB img {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 38px;
  top: 37px;
  border: solid 1px black;
  background-color: #fafad2;
  padding: 11%;
  transform: translate(-50%, -50%)
}

.example {
  border:solid 3px;
  width: 400px;
  margin-left: 400px;
  margin-top: -420px;
}

.blue {
  background-color: #6495ed;
  width: 400px;
  height: 80px;
  margin-top: -300px;
  margin-left: 400px;
  position: relative;
}

.sinsei {
  background-color: #ffd700;
  width: 100px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 20px;
  left: 280px;
  border: solid 1px black;
}


table.example{
  border-collapse:collapse;
}
 
table.example th{
  border:1px solid #000066;
}


