@charset "utf-8";
.logout {
  background-color: red;
  width: 170px;
  line-height: 160px;
  height: 190px;
  margin-top: 16px;
  margin-left: 100px;
}

.mypage ul {
  list-style: none;
  width: 120px;
  background-color: #333;
  margin-bottom: 1px;
}

.nav {
  display: flex;
}

.mypage {
  margin-left: 200px;
}

.logout ul {
  list-style: none;
}

.profile {
  width: 30%;
}

#img {
  width: 300px;
  margin-top: 40px;
}

.r {
  text-align: center;
}

.myp {
  width: 160px;
}

.komyuran {
  width: 85%;
}

.event {
  width: 85%;
}

.event2 {
  width: 85%;
}

.h {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  z-index: 2;
  transition: 1s;
}

.h span {
  position: fixed;
  left: 30px;
  width: 30px;
  height: 3px;
  background: white;
  transition: 1s;
}

.h span:nth-of-type(1) {
  top: 30px;
}

.h span:nth-of-type(2) {
  top: 40px;
}

.h span:nth-of-type(3) {
  top: 50px;
}

.h2 {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  clip-path: circle(0px at 100vw 0px);
  background: black;
  transition: 5s;
  overflow: hidden;
}

.open {
  clip-path: circle(200vw at 100vw 0px);
}

.open_h {
  background: red;
}

#spmenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ham1 {
  transform: translatey(10px) rotate(135deg);
}

.ham2 {
  opacity: 0;
}

.ham3 {
  transform: translatey(-10px) rotate(-135deg);
}

.topic {
  border: solid 1px;
  position: relative;
  background-color: #fffacd;
  width: 700px;
  height: 400px;
  left: 600px;
  top: -180px;
}

.icon {
  border: solid 1px;
  position: absolute;
  top: 40px;
  left: 50px;
  background-color: white;
  width: 250px;
  height: 150px;
}

.time {
  border: solid 1px;
  position: absolute;
  background-color: #ffa500;
  height: 150px;
  width: 250px;
  top: 225px;
  left: 50px;
}

.honbun {
  border: solid 1px;
  position: absolute;
  background-color: white;
  height: 350px;
  width: 300px;
  top: 30px;
  left: 350px;
}

.title {
  background-color: #d3d3d3;
  width: 300px;
  height: 100px;
  border-bottom: solid 1px;
}

.event {
  background-color: grey;
  width: 300px;
  height: 23px;
  border: solid 1px;
}

.list {
  border: solid 1px;
  height: 100px;
}

.sagasu {
  background-color: #ffa500;
  height: 43px;
  width: 297px;
  text-align: center;
}